/* tweets in feed */
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

article {
  background-color: #f4f4f4;
  opacity: 0.8;
  margin: 2%;
  border: solid;
  border-radius: 2px;
  z-index: 1;
  
  :hover {
    box-shadow: 11px 12px 7px -5px rgba(42, 66, 186, 0.83);
    -webkit-box-shadow: 11px 12px 7px -5px rgba(42, 66, 186, 0.83);
    -moz-box-shadow: 11px 12px 7px -5px rgba(42, 66, 186, 0.83);
    border: solid thick;
  }
}

.tweet-bottom {
  @include flex-row;
  justify-content: space-between;
  font-size: small;
  padding: 5px;
}

.tweet {
  padding: 5px;

  p {
    border-bottom: solid;
    padding: 5px;
    margin-bottom: 5px;
  }

  img {
    max-height: 50px;
  }
}

.icon:hover {
  color: red;
}

.tweet-top {
  @include flex-row;
  justify-content: space-between;
}

.user {
  font-size: small;
  @include flex-row;
}

.name {
  height: 100%;
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username {
  opacity: 0.5;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: large;
}

.timeago {
  padding: 5px 15px 10px 15px;
}
