header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 3;
  position: fixed;
  top: 35px;
}

h2 {
  color: black;
  opacity: 0.7;
  margin: 0;
  padding: 0;
}

#avatar {
  justify-content: center;
  height: auto;
  max-width: 150px;
  width: 20%;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: xx-large;
  }
}

@media only screen and (max-width: 425px) {
  h2 {
    font-size: large;
  }
}

@media only screen and (min-width: 1024px) {

  header {
    height: auto;
    width: 45%;
    position:relative;
    top: 250px;
    z-index: 0;
   
  }
  #avatar {
    width: 40%;
  }
}


