nav {
  /* height: 120px; */
  height: 260px;
  width: "device-width";
  background-color: #4056a1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}

nav span {
  height: 100%;
  font-family: "Bungee";
  margin: auto 1.5em 2px 1.5em;
  display: flex;
  flex-direction: column;
}

.logo {
  font-family: "Bungee";
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.nav-tweet {
  justify-content: flex-start;
  margin: 0 1.5em 0.3em 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: large;
  z-index: 5;
}

#new-Tweet-Link {
  margin: 0.5em 0.5em 0 0;
  font-weight: bold;
  justify-content: start;
}

nav i {
  color: red;
}

@media only screen and (max-width: 768px) {
  nav span {
    height: auto;
  }

  .nav-tweet {
    justify-content: end;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    height: 50px;
  }

  nav span {
    height: auto;
  }

  #new-Tweet-Link {
    margin-right: 0.5em;
  }
}
